{% for control in controls %}
    <fieldset class="two_factor_auth-provider-area-fieldset">
        <div class="form-block provider-area-block">
            <div class="col-group">
                <div class="input-field input-field--group">
                    <div class="col-mb-8 col-6 col-dt-4 col-ld-3">
                        {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                    </div>
                    <div class="col-mb-16 col-18 col-dt-10 col-ld-4">                        
                        {{ control.getField(row, control, [])|raw }}                        
                    </div>


                </div>
            </div>
            <div class="col-group provider-area-configuration-block pt10">
            </div>
        </div>
    </fieldset>
{%endfor %}