{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}

{% for fieldset in fieldsets %}
    <fieldset>
        {% if fieldset.name|length>0 %}

        {% endif %}
        {% for control in fieldset.controls() %}
            <div class="col-group">
                <div class="form-block">
                    <div class="input-field input-field--group">
                        <div class="col-dt-5 col-5 col-mb-5">
                            {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                        </div>
                        <div class="col-dt-5 col-5 col-mb-5">
                            {{ control.getField(row, control, [])|raw }}
                            {% if control.help|length>1 %}
                                {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}             
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {%endfor %}
    </fieldset>
{%endfor %}
